.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: white;
  text-align: center;
  padding: 0;
  margin-top: 10px;
}

.footer-text {
  background: linear-gradient(to left, blue, red);
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 12px;
}

.git-link {
  color: white;
  padding-left: 2px;
  padding: 5px;
  margin-right: auto;
}
