.form {
    min-width: 500px;
    max-width: 500px;
    margin: 50px;
    padding: 25px; 
    background-color: rgb(32,33,36);
    color: rgb(205, 205, 205);
    border-radius: 5px;
}

.personal-form, .education-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

input, textarea {
    padding: 10px;
    width: 1fr;
    margin: 15px;
    border-radius: 2px;
    border: 0;
    font-family: "Karla";
    background-color: rgb(60,64,67);
    color:rgb(219, 225, 244);
}

textarea {
    grid-column: 1/3; 
}

.call-to-action {
    font-size: 20px;
    text-align: center;
    font-family: "Valera Round";
    color: white;
}

button {
    position: relative; 
    left: 60%;
    border: 0; 
    padding: 10px;
    border-radius: 1px;
}

.title {
    font-family: "Valera Round";
    color: white;
}