.form {
  width: 70vw;
  flex-grow: 1;
  margin: 5% auto 50px auto;
  padding: 25px;
  background-color: rgb(32, 33, 36);
  color: rgb(205, 205, 205);
  border-radius: 5px;
  font-family: "Valera Round";
  align-items: center;
}

input,
textarea {
  padding: 10px;
  margin: 15px;
  border-radius: 2px;
  border: 0;
  font-family: "Karla";
  background-color: rgb(60, 64, 67);
  color: rgb(219, 225, 244);
}

textarea {
  width: 80%;
  min-height: 150px;
}

input {
  height: 25px;
}

.call-to-action {
  font-size: 20px;
  text-align: center;
  font-family: "Valera Round";
  color: white;
}

.create-button {
  position: relative;
  left: 30%;
  border: 0;
  padding: 10px;
  border-radius: 1px;
  font-weight: bolder;
  color: white;
  background-color: #800080;
  font-family: "Valera Round";
}

.title {
  color: white;
  font-family: "Valera Round";
  font-weight: bold;
}

.date-set {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(2, 0.1fr);
}

.date-title {
  margin-left: 15px;
  font-size: small;
  font-weight: bold;
  color: white;
}
