@font-face {
    font-family: "Valera Round";
    src: url(../fonts/VarelaRound-Regular.ttf) format(truetype);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
    background: linear-gradient(to left, red, blue);
}

.header--title {
    font-size: 35px;
    font-weight: bolder;
    padding-left: 10px;
    margin-right: auto;
    font-family: "Valera Round";
    color: white;
}