@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-VariableFont_wght.ttf") format(truetype);
}

.cv-render {
  max-width: 500px;
  border: 1px solid black;
  font-family: "Karla", sans-serif;
  font-size: 0.5em;
  padding: 50px;
  margin: 10px auto;
  background-color: white;
}
.education-major {
  font-weight: normal;
}

.name {
  text-align: center;
}

.description {
  letter-spacing: 1px;
}

.dates {
  font-weight: bold;
  padding-bottom: 10px;
}
